{% extends 'registration/base.html' %}
{% block content %}
{% if validlink %}
    <div class="card-body login-card-body">
        <p class="login-box-msg">Change Password</p>

        <form method="post">
        {% csrf_token %} 
            {% for field in form %}
                {{ field.errors }}
                {{ field.label_tag }}
                <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
            {% endfor %}
            <button type='submit'class="btn btn-success btn-block mt-3">Change Password</button>
        </form>
    </div>
        <!-- /.social-auth-links -->
{% else %}
   <p>
        The Password Link was Expired or Invalid
   </p>
{% endif %}
{% endblock content %}